h1 {
	margin: 0 0 2rem 0;
}

h2 {
	border-width: 0;
	font-size: 2rem;
}

main {
	font-size: 1.4rem;
}

input[type=radio] {
	margin: 1rem 0 0 0;
}

.button {
	background: url('../img/bg.png');
	border-top: 3px solid #036;
	color: #fff;
	cursor: pointer;
	display: block;
	margin: 0 0 0.5rem 0;
	padding: 1rem;
	width: 20rem;
}

.button:hover {
	opacity: 0.8;
}

h2 {
	margin-top: 0rem;
	font-size: 2.6rem;
}

h3 {
	color: #036;
	font-size: 1.6rem;
}

main>article {
	display: flex;
}

main>article>nav {
	width: 25rem;
}

main>article>section {
	flex: 1;
}

.controls {
	display: flex;
  justify-content: space-between;
	flex-wrap: wrap;
	margin-bottom: 3rem;
	line-height: 18px;
}

.controls span {
	background: linear-gradient(to bottom, #BBB 0%,#CCC 100%);
	border: 1px solid #999;
	padding: 0.7rem;
	cursor: pointer;
	margin: 0 0.5rem 1rem;
}

.controls a:hover {
	color: #fff;
}

.example {
	display: flex;
	background: #e5e5e5;
	border: solid 1px #ccc;
}

.example div {
	background: #99b3cc;
	border: solid 1px #369;
	color: #036;
	font-size: 2rem;
	margin: 1rem;
	padding: 2.5rem;
	text-align: center;
}

