header, nav, article, footer {
  margin: 0 auto;
} 

.social {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.social a {
  justify-content: space-between;
}



 @media screen and (min-width: 768px) {

  nav ul {
    display: flex;
  }


  /* Workaround for Chrome bug */
  /* nav ul li { grow: 1; }*/

}

@media screen and (min-width: 992px) {


  nav ul {
    justify-content: flex-end;
  }

  /* Workaround for Chrome (bug) */
  /* nav ul li { grow: 0; } */

  .flex-container {
    display: flex;
  }

}

@media screen and (min-width: 1200px) {

}
