nav ul {
}

@media screen and (min-width: 768px) {

  header, nav, main, footer {
    width: 750px;
  }

  nav ul {
    display: flex;
    justify-content: space-around;
  }
  nav ul li {
    border: 0;
  }

}

@media screen and (min-width: 992px) {

  header, nav, main, footer {
    width: 970px;
  }

  nav ul {
    justify-content: flex-end;
  }

  nav ul li {
    margin: 10px;
  }

}

@media screen and (min-width: 1200px) {
  header, nav, main, footer {
    width: 1170px;
  }
}
