header {
  text-align: center;
}

nav {
  color: #FFF;
  font: 1.5rem 'Architects Daughter', sans-serif;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  background: rgba(255,255,255,0.15);
  border-top: 1px solid rgba(255,255,255,0.3); 
  padding: 0.6rem;
  text-align: center;
}

nav ul li a {
  color: #fff;
}

main {
  font: 1.5rem 'Lato', sans-serif;
}

p {
  line-height: 2.0rem;
  margin: 0 0 1rem;

}


