html {
  font-size: 10px;
}

body {
  background: url('../img/bg2.png');
  color: #444;
  margin: 0;
  padding: 0;   
}

main {
  background: #FFF;
  padding: 1rem 0 2rem 0;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}


h1, h2 {
  font-family: 'Architects Daughter', sans-serif;
}

h1 {
  font-size: 4rem;
  line-height: 0.9;
  margin: 0;
}

h2 {
  color: #369;
  display: block;
  border-bottom: solid 1px rgba(51,102,153,0.3);
  font-size: 2.4rem;
  margin: 1.6rem 0 0.3rem 0;
}

h3 {
  color: #8fbae5;
  font: bold 1.6rem 'Lato', sans-serif;
  margin: 1rem 0 0.2rem 0;
}

header, nav, article, footer {
  margin: 0 auto;
}

footer {
  color: white;
  font: 1.4rem 'Architects Daughter', sans-serif;
  padding: 1rem;
  text-align: right;
}

header {
  color: #FFF;
  padding: 20px 20px 10px;
  text-align: center;
}

header span {
  color: #8fbae5;
  font: 2.4rem 'Architects Daughter', sans-serif;
}

nav {
  color: #FFF;
  font: 1.5rem 'Architects Daughter', sans-serif;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

nav ul li {
  background: rgba(255,255,255,0.15);
  border-top: 1px solid rgba(255,255,255,0.3); 
  padding: 5 20px;
  margin: 0 0 0 0.3rem;
}


nav ul li a {
  color: #fff;
}

main {
  font: 1.5rem 'Lato', sans-serif;
}

p {
  line-height: 2.0rem;
  margin: 0 0 1rem;

}

.flex-container>section {
  padding: 0 1.6rem;
}

.social-icon {
  margin: 1rem 2rem 0;
}

 @media screen and (min-width: 768px) {

  header, nav, article, footer {
    width: 750px;
  }

  nav ul li {
    background: none;
    border: 0;
  }

  header {
    text-align: left;
  }
  
  .nav-wrapper {
    background: rgba(255,255,255,0.15);
    border-top: 1px solid rgba(255,255,255,0.3); 
  }


}

@media screen and (min-width: 992px) {

  header, nav, article, footer {
    width: 970px;
  }

  nav ul li {
    background: rgba(255,255,255,0.15);
    border-top: 1px solid rgba(255,255,255,0.3); 
  }

  .nav-wrapper {
    background: none;
    border-top: 0;
  }

}

@media screen and (min-width: 1200px) {

  header, nav, article, footer {
    width: 1170px;
  }

}




