.container {
  margin: 0 auto;
}

body {
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 40px;
  line-height: 0.9;
  margin: 0;
}

h2 {
  font-size: 30px;
  margin: 0;
}

header {
  color: #FFF;
  font-family: 'Architects Daughter', sans-serif;
  padding: 20px 20px 10px;
  text-align: center;
}

header span {
  color: #8fbae5;
  font-size: 24px;
}

nav {
  color: #FFF;
  font-family: 'Architects Daughter', sans-serif;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

nav ul li {
  padding: 0 20px;
  border-top: 1px solid #fff;
}


nav ul li a {
  color: #fff;
  text-decoration: none;
}

.bg-blue {
  background: url('../img/bg.png');
}


